<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trails Login/ Register</title>
    <meta name="login reg" content="login and registration">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}"> 
</head>

<body>
    <div class="jumbotron">
        {% if messages %}
        <!-- check if there are any messages -->
        <h4>Found errors on submitted form:</h4>
            {% for msg in messages %}
            <!-- loop through the messages -->
                <p style="color:red;">{{msg}}</p> <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}

        <div class="heading">
            <h1>Welcome to the Trails Website!</h1>
            <p>You can keep track of your favorite trails for hiking/ biking/ walking and share with other users! You can rate trails and add reports!</p>
            <p>Integration with exercise report from FitBit coming soon...</p>
        </div>
        
        <div class="main_contents">
            <h3>Login</h3>
            <form action='/login' method='post'>
                {% csrf_token %}
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <div><input type='submit' value='Login'></div>
            </form>
        </div>

        <div class="main_contents right">
            <p>Not registered yet?</p>
            <h3>New User Registration</h3>
            <form action='/register' method='post'>
                {% csrf_token %}
                <p>First Name: <input type="text" name="fname"></p>
                <p>Last Name: <input type="text" name="lname"></p>
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <p>Confirm password: <input type="password" name="c_password"></p>
                <div><input type='submit' value='Register'></div>
            </form>
        </div>



    </div>
</body>

</html>