<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edit Account</title>
    <meta name="edit account" content="edit account info">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}"> 
</head>

<body>
    <div class="jumbotron text-center">
        <div class="heading d-flex">
            <h1>Edit My Account</h1>
            <div class="ml-auto">
                <a href="/quotes">Back to Quotes Home</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button class="btn btn-primary my-2">Logout</button>
                </form>
            </div>
        </div>

        {% if messages %}
        <!-- check if there are any messages -->
        <h4>Found errors on submitted form:</h4>
            {% for msg in messages %}
            <!-- loop through the messages -->
                <p style="color:red;">{{msg}}</p> <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
        
        <div style="border: 1px solid black;">
            <form action='/update/{{this_user.id}}' method='post'>
                {% csrf_token %}
                <p>First Name: <input type="text" name="fname" value="{{this_user.first_name}}"></p>
                <p>Last Name: <input type="text" name="lname" value="{{this_user.last_name}}"></p>
                <p>Email: <input type="text" name="email" value="{{this_user.email}}"></p>
                <div><input type='submit' value='Update'></div>
            </form>
        </div>