<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trails</title>
    <meta name="Trails" content="list of trails and add a new trail">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}">  
    <style>
        div.background1{
            background-image: url("{% static 'login_reg_app/img/snow_mountain.jpg' %}");
            background-color: rgba(255, 255, 255, 0.5);
            background-blend-mode: lighten;
            background-size: cover;
            }
    </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .checked {
                color: orange;
            }
        </style>

</head>

<body>
    <div class="jumbotron background1">

        <div class="heading d-flex">
            <h1>Trails</h1>

            <nav class="navbar ml-auto">
                <p >Welcome, {{ request.session.user_name }}</p>
                <a  href="/trails">Trails Home</a>
                <a  href="/reports/user/{{request.session.user_id}}">My Reports</a>
                <form  action="/logout" method="POST">
                {% csrf_token %}
                    <button class="btn btn-primary my-2">Logout</button>
                </form>
            </nav>
        </div>
<!-- latest reports at top -->
        <h3>Check out some of the latest reports:</h3>
        <div class="content top">
            {% for each_report in all_reports %}
            <div class="box">
                <p>
                    <span class="bold"><a href="/trails/{{each_report.trail_id.id}}">{{ each_report.trail_id.name }}</a></span>
                    <!-- start rating stars -->
                    Rating:
                        {% with ''|center:each_report.rating as range %}
                        {% for i in range %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% endwith %}
                    <!-- end rating stars -->
                    
                    By: <span class="bold"><a href="/reports/user/{{each_report.user_id.id}}">{{ each_report.user_id.first_name }}</a></span> - {{ each_report.updated_at }}
                </p>
                <p> <span class="bold">Report: </span>{{each_report.comment}}</p>
            </div>
            {% endfor %}
        </div>
<!-- end latest reports -->
<!-- start display every trails -->
        <div class="main_contents left">
            <h3>Trails:</h3>
            {% for each_trail in all_trails %}
            <div class="box">
                <h5>
                    <a href="/trails/{{each_trail.id}}">{{ each_trail.name }}</a>
                </h5> 
                <ul>
                    <li><span class="bold">Length: </span> {{each_trail.length}}</li>
                    <li><span class="bold">Elevation: </span> {{each_trail.elevation}}</li>
                    <li><span class="bold">Level: </span>{{each_trail.level}}</li>
                    <li><span class="bold">Trail Head: </span> {{each_trail.trail_head}}</li>
                    <li><span class="bold">Link: </span> {{each_trail.link}}</li>
                    <li>
                        <span class="bold">Posted by: </span><a href="/reports/user/{{each_trail.user_id.id}}"> {{ each_trail.user_id.first_name }}</a> at {{each_trail.updated_at}}
                    </li>
                    <li>
                        <form action='/trails/add_wishlist' method='post'>
                        {% csrf_token %}
                            <input hidden name="trail_id" value="{{each_trail.id}}">
                            <input type='submit' value='Add to Wish List'>
                        </form>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
<!-- end display every trails -->
<!-- start add trail form -->
        <div class="main_contents right">
            <h3>Add a Trail!</h3>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
            {% endif %}

            <form action='/trails/create_trail' method='post'>
                {% csrf_token %}
                <p>Name: <input type="text" name="name"></p>
                <p>Length (miles): <input type="text" name="length"></p>
                <p>Elevation (ft): <input type="text" name="elevation"></p>
                <p>Difficulty level: </p>
                <select name="level">
                    <option value="easy">Easy</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="hard">Hard</option>
                </select>
                <p>Trail head: </p>
                <textarea name="trail_head" rows="1" cols="30"></textarea>
                <p>Link: <input type="text" name="link"></p>
                <input type='submit' value='Submit'>
            </form>
        </div>
<!-- end add trail form -->

    </div>
</body>
</html>