<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trails</title>
    <meta name="Trails" content="list of trails and add a new trail">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}">  

</head>

<body>
    <div class="jumbotron">
        <div class="heading d-flex">
            <h1>Trail: {{trail.name}}</h1>
            <div class="ml-auto">
                <a href="/trails">Trails Home</a>
                <a href="/reports/user/{{request.session.user_id}}">My Reports</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button class="btn btn-primary my-2">Logout</button>
                </form>
            </div>
        </div>

        <div class="trail_info">
            <ul>
                <li>Length: {{trail.length}}</li>
                <li>Elevation: {{trail.elevation}}</li>
                <li>Level: {{trail.level}}</li>
                <li>Trail Head: {{trail.trail_head}}</li>
                <li>Link: <a href="{{trail.link}}">{{trail.link}}</a></li>
                <li>Posted by: 
                    <a href="/reports/user/{{trail.user_id.id}}"> {{trail.user_id.first_name }}</a> at {{trail.updated_at}}
                </li>

                <li>
                    <form action='/trails/add_wishlist' method='post'>
                        {% csrf_token %}
                        <input hidden name="trail_id" value="{{trail.id}}">
                        <input type='submit' value='Add to Wish List'>
                    </form>
                </li>

                {% if trail.user_id.id == request.session.user_id %}
                    <li><a href="/trails/{{trail.id}}/edit_trail">Edit trail info</a></li>
                    <li>                
                        <form action='/trails/delete_trail' method='post'>
                        {% csrf_token %}
                        <input hidden name="trail_id" value="{{trail.id}}">
                        <input type='submit' value='Delete this trail'>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div>
            <h3>Reports on this trail:</h3>
            {% for each_report in reports %}
            <div class="box">
                <p>
                    Rating: {{ each_report.rating }} Posted by: <a href="/reports/user/{{each_report.user_id.id}}">{{ each_report.user_id.first_name }}</a> - {{ each_report.updated_at }}
                </p>
                <p> Report: {{each_report.comment}}</p>
            </div>
            {% endfor %}
        </div>
        

        <div>
            <h3><a href="/reports/{{trail.id}}/new_report">Add a new Report and Exercise log!</a></h3>

        </div>

    </div>
</body>
</html>